.users-page {
  padding: 20px;
}

.table-wrapper {
  width: 100%;
}

/* TOP CONTROLS */
.top-controls {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin-bottom: 10px;
}

.top-controls button:first-child {
  grid-column: 1;
  justify-self: start;
}

.search-input {
  grid-column: 2;
  justify-self: center;
  width: 220px;
  padding: 6px;
  border: none;
  border-bottom: 2px solid #1976d2;
  outline: none;
}

.search-icon {
  grid-column: 5;
  justify-self: end;
}

/* 🔥 TABLE FULL FIX */
table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

/* HEADER */
.mat-header-cell {
  background-color: #1976d2 !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
}

/* CELLS */
.mat-cell {
  text-align: center;
}

/* ROW STRIPES */
.mat-row:nth-child(even) {
  background: #f5f5f5;
}

/* HOVER */
.mat-row:hover {
  background: #e3f2fd;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* INPUT */
input {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
  text-align: center;
}

input:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 5px rgba(63,81,181,0.3);
}

/* DELETE MODAL */
.confirm-box {
  text-align: center;
}

.confirm-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
/* HEADER */
.mat-mdc-header-cell {
  background-color: #1976d2 !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
}

/* CELLS */
.mat-mdc-cell {
  text-align: center;
}

/* ROW STRIPES */
.mat-mdc-row:nth-child(even) {
  background: #f5f5f5;
}

/* HOVER */
.mat-mdc-row:hover {
  background: #e3f2fd;
}
