.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile img {
  border-radius: 50%;
  width: 40px;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  background: white;
  padding: 10px;
  width: 180px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  width: 100%;
  padding: 8px;
  border: none;
  background: red;
  color: white;
}
.logo {
  margin-top: 10px;
  margin-left: 5px;
}


