<div class="sidebar">
  <h4>NAVIGATION</h4>

  <div class="menu" (click)="toggleMenu('dashboard')">
    <span>📊 Dashboards</span>
    <span>›</span>
  </div>

  <div class="submenu" *ngIf="activeMenu === 'dashboard'">
  <ul>
    <li>  <p>Default Dashboard</p></li>
    <li>  <p>Analytics Dashboard</p></li>
  </ul>
  </div>

  <div class="menu" (click)="toggleMenu('reports')">
    <span>📄 Reports</span>
    <!-- <span>/span> -->
    <span>›</span>
  </div>

  <div class="submenu" *ngIf="activeMenu === 'reports'">
    <ul>
   <li><p>Sales Report</p>
   <li><p>Leads Report</p></li>
   <li><p>Project Report</p></li>
   <li><p>Timesheets Report</p></li>
   </ul>
  </div>

  <div class="menu" (click)="toggle('application')">
    <span>📁 Application</span>
    <!-- <span>⌄</span> -->
    <span>›</span>
  </div>

  <div class="submenu" *ngIf="active === 'application'">
    <ul>
    <li><p>App 1</p></li>
    <li><p>App 2</p></li>
    </ul> 
  </div>

  <div class="menu" routerLink="./users">
  <span>👤 Users</span>
</div>
</div>
